<!DOCTYPE html>
<html>
  <head>
    <title>Deep Vis Graph</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="sidebar">
        <div class="sidebarContainer">
          <h1>C N E T V I S</h1><br>
          <form id="form-num">
            Image no.<br>
            <input class="image-in" type="text" name="val">
            <input id="net-struct" type="hidden" name="struct">
            <br>
            <input type="submit" value="Submit">
          </form>
          <div class="chart"></div>
          <canvas id="image">
          </canvas>
          <div id="dimension">
            (<span id="image-width">w</span> x <span id="image-height">h</span>)
          </div>
          <br>
          <div class="predictionContainer">
            Prediction:
            <span id="prediction"></span>
          </div>
          <div class="actualContainer">
            Actual:
            <span id="actual"></span>
          </div>
          <div id="thresholdContainer">
            Weight Threshold:<input id='weightThresholdValue' type="text" value="0" oninput="sliderChange('weightThreshold',this.value)">
            <input type="range" id="weightThreshold" min="0" max="1.0" value="0" step="0.01" oninput="sliderChange('weightThresholdValue',this.value);">
          </div>
        </div>
      </div>
      <div class="canvas" id="canvasid"></div>
    </div>
    <script src="static/slider.js"></script>
    <script src="static/script.js"></script>
    <script src="static/main.js"></script>
  </body>
</html>
