<!DOCTYPE html>
<html>
  <head>
    <title>Deep Vis Graph</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="sidebar">
        <div class="sidebarContainer">
          <h1>D E E P V I S</h1><br>
          <form id="form-num">
            Image no.<br>
            <input class="image-in"type="text" name="val">
            <br>
            <input type="submit" value="Submit">
          </form>
          <div class="chart"></div>
          <canvas id="image">
          </canvas>
          <br><br>
          <div class="predictionContainer">
            Prediction:
            <span id="prediction"></span>
          </div>
          <div class="actualContainer">
            Actual:
            <span id="actual"></span>
          </div>
        </div>
      </div>
      <div class="canvas">
        <script type="application/json" id="mis">
          {
          	"nodes": [{
          		"fixed": true,
          		"name": "node0_0"
          	}, {
          		"name": "node1_0"
          	}, {
          		"name": "node1_1"
          	}, {
          		"name": "node1_2"
          	}, {
          		"name": "node1_3"
          	}, {
          		"name": "node1_4"
          	}, {
          		"name": "node1_5"
          	}, {
          		"name": "node1_6"
          	}, {
          		"name": "node1_7"
          	}, {
          		"name": "node1_8"
          	}, {
          		"name": "node1_9"
          	}, {
          		"name": "node1_10"
          	}, {
          		"name": "node1_11"
          	}, {
          		"name": "node1_12"
          	}, {
          		"name": "node1_13"
          	}, {
          		"name": "node1_14"
          	}, {
          		"name": "node1_15"
          	}, {
          		"name": "node1_16"
          	}, {
          		"name": "node1_17"
          	}, {
          		"name": "node1_18"
          	}, {
          		"name": "node1_19"
          	}, {
          		"name": "node1_20"
          	}, {
          		"name": "node1_21"
          	}, {
          		"name": "node1_22"
          	}, {
          		"name": "node1_23"
          	}, {
          		"name": "node1_24"
          	}, {
          		"name": "node1_25"
          	}, {
          		"name": "node1_26"
          	}, {
          		"name": "node1_27"
          	}, {
          		"name": "node1_28"
          	}, {
          		"name": "node1_29"
          	}, {
          		"name": "node1_30"
          	}, {
          		"name": "node1_31"
          	}, {
          		"name": "node2_0"
          	}, {
          		"name": "node2_1"
          	}, {
          		"name": "node2_2"
          	}, {
          		"name": "node2_3"
          	}, {
          		"name": "node2_4"
          	}, {
          		"name": "node2_5"
          	}, {
          		"name": "node2_6"
          	}, {
          		"name": "node2_7"
          	}, {
          		"name": "node2_8"
          	}, {
          		"name": "node2_9"
          	}, {
          		"name": "node2_10"
          	}, {
          		"name": "node2_11"
          	}, {
          		"name": "node2_12"
          	}, {
          		"name": "node2_13"
          	}, {
          		"name": "node2_14"
          	}, {
          		"name": "node2_15"
          	}, {
          		"name": "node2_16"
          	}, {
          		"name": "node2_17"
          	}, {
          		"name": "node2_18"
          	}, {
          		"name": "node2_19"
          	}, {
          		"name": "node2_20"
          	}, {
          		"name": "node2_21"
          	}, {
          		"name": "node2_22"
          	}, {
          		"name": "node2_23"
          	}, {
          		"name": "node2_24"
          	}, {
          		"name": "node2_25"
          	}, {
          		"name": "node2_26"
          	}, {
          		"name": "node2_27"
          	}, {
          		"name": "node2_28"
          	}, {
          		"name": "node2_29"
          	}, {
          		"name": "node2_30"
          	}, {
          		"name": "node2_31"
          	}, {
          		"name": "node3_0"
          	}, {
          		"name": "node3_1"
          	}, {
          		"name": "node3_2"
          	}, {
          		"name": "node3_3"
          	}, {
          		"name": "node3_4"
          	}, {
          		"name": "node3_5"
          	}, {
          		"name": "node3_6"
          	}, {
          		"name": "node3_7"
          	}, {
          		"name": "node3_8"
          	}, {
          		"name": "node3_9"
          	}, {
          		"name": "node3_10"
          	}, {
          		"name": "node3_11"
          	}, {
          		"name": "node3_12"
          	}, {
          		"name": "node3_13"
          	}, {
          		"name": "node3_14"
          	}, {
          		"name": "node3_15"
          	}, {
          		"name": "node3_16"
          	}, {
          		"name": "node3_17"
          	}, {
          		"name": "node3_18"
          	}, {
          		"name": "node3_19"
          	}, {
          		"name": "node3_20"
          	}, {
          		"name": "node3_21"
          	}, {
          		"name": "node3_22"
          	}, {
          		"name": "node3_23"
          	}, {
          		"name": "node3_24"
          	}, {
          		"name": "node3_25"
          	}, {
          		"name": "node3_26"
          	}, {
          		"name": "node3_27"
          	}, {
          		"name": "node3_28"
          	}, {
          		"name": "node3_29"
          	}, {
          		"name": "node3_30"
          	}, {
          		"name": "node3_31"
          	}, {
          		"name": "node3_32"
          	}, {
          		"name": "node3_33"
          	}, {
          		"name": "node3_34"
          	}, {
          		"name": "node3_35"
          	}, {
          		"name": "node3_36"
          	}, {
          		"name": "node3_37"
          	}, {
          		"name": "node3_38"
          	}, {
          		"name": "node3_39"
          	}, {
          		"name": "node3_40"
          	}, {
          		"name": "node3_41"
          	}, {
          		"name": "node3_42"
          	}, {
          		"name": "node3_43"
          	}, {
          		"name": "node3_44"
          	}, {
          		"name": "node3_45"
          	}, {
          		"name": "node3_46"
          	}, {
          		"name": "node3_47"
          	}, {
          		"name": "node3_48"
          	}, {
          		"name": "node3_49"
          	}, {
          		"name": "node3_50"
          	}, {
          		"name": "node3_51"
          	}, {
          		"name": "node3_52"
          	}, {
          		"name": "node3_53"
          	}, {
          		"name": "node3_54"
          	}, {
          		"name": "node3_55"
          	}, {
          		"name": "node3_56"
          	}, {
          		"name": "node3_57"
          	}, {
          		"name": "node3_58"
          	}, {
          		"name": "node3_59"
          	}, {
          		"name": "node3_60"
          	}, {
          		"name": "node3_61"
          	}, {
          		"name": "node3_62"
          	}, {
          		"name": "node3_63"
          	}, {
          		"name": "node4_0"
          	}, {
          		"name": "node4_1"
          	}, {
          		"name": "node4_2"
          	}, {
          		"name": "node4_3"
          	}, {
          		"name": "node4_4"
          	}, {
          		"name": "node4_5"
          	}, {
          		"name": "node4_6"
          	}, {
          		"name": "node4_7"
          	}, {
          		"name": "node4_8"
          	}, {
          		"name": "node4_9"
          	}, {
          		"name": "node4_10"
          	}, {
          		"name": "node4_11"
          	}, {
          		"name": "node4_12"
          	}, {
          		"name": "node4_13"
          	}, {
          		"name": "node4_14"
          	}, {
          		"name": "node4_15"
          	}, {
          		"name": "node4_16"
          	}, {
          		"name": "node4_17"
          	}, {
          		"name": "node4_18"
          	}, {
          		"name": "node4_19"
          	}, {
          		"name": "node4_20"
          	}, {
          		"name": "node4_21"
          	}, {
          		"name": "node4_22"
          	}, {
          		"name": "node4_23"
          	}, {
          		"name": "node4_24"
          	}, {
          		"name": "node4_25"
          	}, {
          		"name": "node4_26"
          	}, {
          		"name": "node4_27"
          	}, {
          		"name": "node4_28"
          	}, {
          		"name": "node4_29"
          	}, {
          		"name": "node4_30"
          	}, {
          		"name": "node4_31"
          	}, {
          		"name": "node4_32"
          	}, {
          		"name": "node4_33"
          	}, {
          		"name": "node4_34"
          	}, {
          		"name": "node4_35"
          	}, {
          		"name": "node4_36"
          	}, {
          		"name": "node4_37"
          	}, {
          		"name": "node4_38"
          	}, {
          		"name": "node4_39"
          	}, {
          		"name": "node4_40"
          	}, {
          		"name": "node4_41"
          	}, {
          		"name": "node4_42"
          	}, {
          		"name": "node4_43"
          	}, {
          		"name": "node4_44"
          	}, {
          		"name": "node4_45"
          	}, {
          		"name": "node4_46"
          	}, {
          		"name": "node4_47"
          	}, {
          		"name": "node4_48"
          	}, {
          		"name": "node4_49"
          	}, {
          		"name": "node4_50"
          	}, {
          		"name": "node4_51"
          	}, {
          		"name": "node4_52"
          	}, {
          		"name": "node4_53"
          	}, {
          		"name": "node4_54"
          	}, {
          		"name": "node4_55"
          	}, {
          		"name": "node4_56"
          	}, {
          		"name": "node4_57"
          	}, {
          		"name": "node4_58"
          	}, {
          		"name": "node4_59"
          	}, {
          		"name": "node4_60"
          	}, {
          		"name": "node4_61"
          	}, {
          		"name": "node4_62"
          	}, {
          		"name": "node4_63"
          	}, {"fixed": true,
          		"name": "node5_0"
          	}],
          	"links": [{
          		"source": 0,
          		"target": 1
          	}, {
          		"source": 0,
          		"target": 2
          	}, {
          		"source": 0,
          		"target": 3
          	}, {
          		"source": 0,
          		"target": 4
          	}, {
          		"source": 0,
          		"target": 5
          	}, {
          		"source": 0,
          		"target": 6
          	}, {
          		"source": 0,
          		"target": 7
          	}, {
          		"source": 0,
          		"target": 8
          	}, {
          		"source": 0,
          		"target": 9
          	}, {
          		"source": 0,
          		"target": 10
          	}, {
          		"source": 0,
          		"target": 11
          	}, {
          		"source": 0,
          		"target": 12
          	}, {
          		"source": 0,
          		"target": 13
          	}, {
          		"source": 0,
          		"target": 14
          	}, {
          		"source": 0,
          		"target": 15
          	}, {
          		"source": 0,
          		"target": 16
          	}, {
          		"source": 0,
          		"target": 17
          	}, {
          		"source": 0,
          		"target": 18
          	}, {
          		"source": 0,
          		"target": 19
          	}, {
          		"source": 0,
          		"target": 20
          	}, {
          		"source": 0,
          		"target": 21
          	}, {
          		"source": 0,
          		"target": 22
          	}, {
          		"source": 0,
          		"target": 23
          	}, {
          		"source": 0,
          		"target": 24
          	}, {
          		"source": 0,
          		"target": 25
          	}, {
          		"source": 0,
          		"target": 26
          	}, {
          		"source": 0,
          		"target": 27
          	}, {
          		"source": 0,
          		"target": 28
          	}, {
          		"source": 0,
          		"target": 29
          	}, {
          		"source": 0,
          		"target": 30
          	}, {
          		"source": 0,
          		"target": 31
          	}, {
          		"source": 0,
          		"target": 32
          	}, {
          		"source": 1,
          		"target": 33
          	}, {
          		"source": 2,
          		"target": 34
          	}, {
          		"source": 3,
          		"target": 35
          	}, {
          		"source": 4,
          		"target": 36
          	}, {
          		"source": 5,
          		"target": 37
          	}, {
          		"source": 6,
          		"target": 38
          	}, {
          		"source": 7,
          		"target": 39
          	}, {
          		"source": 8,
          		"target": 40
          	}, {
          		"source": 9,
          		"target": 41
          	}, {
          		"source": 10,
          		"target": 42
          	}, {
          		"source": 11,
          		"target": 43
          	}, {
          		"source": 12,
          		"target": 44
          	}, {
          		"source": 13,
          		"target": 45
          	}, {
          		"source": 14,
          		"target": 46
          	}, {
          		"source": 15,
          		"target": 47
          	}, {
          		"source": 16,
          		"target": 48
          	}, {
          		"source": 17,
          		"target": 49
          	}, {
          		"source": 18,
          		"target": 50
          	}, {
          		"source": 19,
          		"target": 51
          	}, {
          		"source": 20,
          		"target": 52
          	}, {
          		"source": 21,
          		"target": 53
          	}, {
          		"source": 22,
          		"target": 54
          	}, {
          		"source": 23,
          		"target": 55
          	}, {
          		"source": 24,
          		"target": 56
          	}, {
          		"source": 25,
          		"target": 57
          	}, {
          		"source": 26,
          		"target": 58
          	}, {
          		"source": 27,
          		"target": 59
          	}, {
          		"source": 28,
          		"target": 60
          	}, {
          		"source": 29,
          		"target": 61
          	}, {
          		"source": 30,
          		"target": 62
          	}, {
          		"source": 31,
          		"target": 63
          	}, {
          		"source": 31,
          		"target": 64
          	}, {
          		"source": 32,
          		"target": 64
          	}, {
          		"source": 32,
          		"target": 65
          	}, {
          		"source": 33,
          		"target": 66
          	}, {
          		"source": 33,
          		"target": 67
          	}, {
          		"source": 34,
          		"target": 68
          	}, {
          		"source": 34,
          		"target": 69
          	}, {
          		"source": 35,
          		"target": 70
          	}, {
          		"source": 35,
          		"target": 71
          	}, {
          		"source": 36,
          		"target": 72
          	}, {
          		"source": 36,
          		"target": 73
          	}, {
          		"source": 37,
          		"target": 74
          	}, {
          		"source": 37,
          		"target": 75
          	}, {
          		"source": 38,
          		"target": 76
          	}, {
          		"source": 38,
          		"target": 77
          	}, {
          		"source": 39,
          		"target": 78
          	}, {
          		"source": 39,
          		"target": 79
          	}, {
          		"source": 40,
          		"target": 80
          	}, {
          		"source": 40,
          		"target": 81
          	}, {
          		"source": 41,
          		"target": 82
          	}, {
          		"source": 41,
          		"target": 83
          	}, {
          		"source": 42,
          		"target": 84
          	}, {
          		"source": 42,
          		"target": 85
          	}, {
          		"source": 43,
          		"target": 86
          	}, {
          		"source": 43,
          		"target": 87
          	}, {
          		"source": 44,
          		"target": 88
          	}, {
          		"source": 44,
          		"target": 89
          	}, {
          		"source": 45,
          		"target": 90
          	}, {
          		"source": 45,
          		"target": 91
          	}, {
          		"source": 46,
          		"target": 92
          	}, {
          		"source": 46,
          		"target": 93
          	}, {
          		"source": 47,
          		"target": 94
          	}, {
          		"source": 47,
          		"target": 95
          	}, {
          		"source": 48,
          		"target": 96
          	}, {
          		"source": 48,
          		"target": 97
          	}, {
          		"source": 49,
          		"target": 98
          	}, {
          		"source": 49,
          		"target": 99
          	}, {
          		"source": 50,
          		"target": 100
          	}, {
          		"source": 50,
          		"target": 101
          	}, {
          		"source": 51,
          		"target": 102
          	}, {
          		"source": 51,
          		"target": 103
          	}, {
          		"source": 52,
          		"target": 104
          	}, {
          		"source": 52,
          		"target": 105
          	}, {
          		"source": 53,
          		"target": 106
          	}, {
          		"source": 53,
          		"target": 107
          	}, {
          		"source": 54,
          		"target": 108
          	}, {
          		"source": 54,
          		"target": 109
          	}, {
          		"source": 55,
          		"target": 110
          	}, {
          		"source": 55,
          		"target": 111
          	}, {
          		"source": 56,
          		"target": 112
          	}, {
          		"source": 56,
          		"target": 113
          	}, {
          		"source": 57,
          		"target": 114
          	}, {
          		"source": 57,
          		"target": 115
          	}, {
          		"source": 58,
          		"target": 116
          	}, {
          		"source": 58,
          		"target": 117
          	}, {
          		"source": 59,
          		"target": 118
          	}, {
          		"source": 59,
          		"target": 119
          	}, {
          		"source": 60,
          		"target": 120
          	}, {
          		"source": 60,
          		"target": 121
          	}, {
          		"source": 61,
          		"target": 122
          	}, {
          		"source": 61,
          		"target": 123
          	}, {
          		"source": 62,
          		"target": 124
          	}, {
          		"source": 62,
          		"target": 125
          	}, {
          		"source": 63,
          		"target": 126
          	}, {
          		"source": 63,
          		"target": 127
          	}, {
          		"source": 64,
          		"target": 128
          	}, {
          		"source": 64,
          		"target": 129
          	}, {
          		"source": 65,
          		"target": 129
          	}, {
          		"source": 66,
          		"target": 130
          	}, {
          		"source": 67,
          		"target": 131
          	}, {
          		"source": 68,
          		"target": 132
          	}, {
          		"source": 69,
          		"target": 133
          	}, {
          		"source": 70,
          		"target": 134
          	}, {
          		"source": 71,
          		"target": 135
          	}, {
          		"source": 72,
          		"target": 136
          	}, {
          		"source": 73,
          		"target": 137
          	}, {
          		"source": 74,
          		"target": 138
          	}, {
          		"source": 75,
          		"target": 139
          	}, {
          		"source": 76,
          		"target": 140
          	}, {
          		"source": 77,
          		"target": 141
          	}, {
          		"source": 78,
          		"target": 142
          	}, {
          		"source": 79,
          		"target": 143
          	}, {
          		"source": 80,
          		"target": 144
          	}, {
          		"source": 81,
          		"target": 145
          	}, {
          		"source": 82,
          		"target": 146
          	}, {
          		"source": 83,
          		"target": 147
          	}, {
          		"source": 84,
          		"target": 148
          	}, {
          		"source": 85,
          		"target": 149
          	}, {
          		"source": 86,
          		"target": 150
          	}, {
          		"source": 87,
          		"target": 151
          	}, {
          		"source": 88,
          		"target": 152
          	}, {
          		"source": 89,
          		"target": 153
          	}, {
          		"source": 90,
          		"target": 154
          	}, {
          		"source": 91,
          		"target": 155
          	}, {
          		"source": 92,
          		"target": 156
          	}, {
          		"source": 93,
          		"target": 157
          	}, {
          		"source": 94,
          		"target": 158
          	}, {
          		"source": 95,
          		"target": 159
          	}, {
          		"source": 96,
          		"target": 160
          	}, {
          		"source": 97,
          		"target": 161
          	}, {
          		"source": 98,
          		"target": 162
          	}, {
          		"source": 99,
          		"target": 163
          	}, {
          		"source": 100,
          		"target": 164
          	}, {
          		"source": 101,
          		"target": 165
          	}, {
          		"source": 102,
          		"target": 166
          	}, {
          		"source": 103,
          		"target": 167
          	}, {
          		"source": 104,
          		"target": 168
          	}, {
          		"source": 105,
          		"target": 169
          	}, {
          		"source": 106,
          		"target": 170
          	}, {
          		"source": 107,
          		"target": 171
          	}, {
          		"source": 108,
          		"target": 172
          	}, {
          		"source": 109,
          		"target": 173
          	}, {
          		"source": 110,
          		"target": 174
          	}, {
          		"source": 111,
          		"target": 175
          	}, {
          		"source": 112,
          		"target": 176
          	}, {
          		"source": 113,
          		"target": 177
          	}, {
          		"source": 114,
          		"target": 178
          	}, {
          		"source": 115,
          		"target": 179
          	}, {
          		"source": 116,
          		"target": 180
          	}, {
          		"source": 117,
          		"target": 181
          	}, {
          		"source": 118,
          		"target": 182
          	}, {
          		"source": 119,
          		"target": 183
          	}, {
          		"source": 120,
          		"target": 184
          	}, {
          		"source": 121,
          		"target": 185
          	}, {
          		"source": 122,
          		"target": 186
          	}, {
          		"source": 123,
          		"target": 187
          	}, {
          		"source": 124,
          		"target": 188
          	}, {
          		"source": 125,
          		"target": 189
          	}, {
          		"source": 126,
          		"target": 190
          	}, {
          		"source": 127,
          		"target": 191
          	}, {
          		"source": 128,
          		"target": 192
          	}, {
          		"source": 129,
          		"target": 193
          	}, {
          		"source": 130,
          		"target": 193
          	}, {
          		"source": 131,
          		"target": 193
          	}, {
          		"source": 132,
          		"target": 193
          	}, {
          		"source": 133,
          		"target": 193
          	}, {
          		"source": 134,
          		"target": 193
          	}, {
          		"source": 135,
          		"target": 193
          	}, {
          		"source": 136,
          		"target": 193
          	}, {
          		"source": 137,
          		"target": 193
          	}, {
          		"source": 138,
          		"target": 193
          	}, {
          		"source": 139,
          		"target": 193
          	}, {
          		"source": 140,
          		"target": 193
          	}, {
          		"source": 141,
          		"target": 193
          	}, {
          		"source": 142,
          		"target": 193
          	}, {
          		"source": 143,
          		"target": 193
          	}, {
          		"source": 144,
          		"target": 193
          	}, {
          		"source": 145,
          		"target": 193
          	}, {
          		"source": 146,
          		"target": 193
          	}, {
          		"source": 147,
          		"target": 193
          	}, {
          		"source": 148,
          		"target": 193
          	}, {
          		"source": 149,
          		"target": 193
          	}, {
          		"source": 150,
          		"target": 193
          	}, {
          		"source": 151,
          		"target": 193
          	}, {
          		"source": 152,
          		"target": 193
          	}, {
          		"source": 153,
          		"target": 193
          	}, {
          		"source": 154,
          		"target": 193
          	}, {
          		"source": 155,
          		"target": 193
          	}, {
          		"source": 156,
          		"target": 193
          	}, {
          		"source": 157,
          		"target": 193
          	}, {
          		"source": 158,
          		"target": 193
          	}, {
          		"source": 159,
          		"target": 193
          	}, {
          		"source": 160,
          		"target": 193
          	}, {
          		"source": 161,
          		"target": 193
          	}, {
          		"source": 162,
          		"target": 193
          	}, {
          		"source": 163,
          		"target": 193
          	}, {
          		"source": 164,
          		"target": 193
          	}, {
          		"source": 165,
          		"target": 193
          	}, {
          		"source": 166,
          		"target": 193
          	}, {
          		"source": 167,
          		"target": 193
          	}, {
          		"source": 168,
          		"target": 193
          	}, {
          		"source": 169,
          		"target": 193
          	}, {
          		"source": 170,
          		"target": 193
          	}, {
          		"source": 171,
          		"target": 193
          	}, {
          		"source": 172,
          		"target": 193
          	}, {
          		"source": 173,
          		"target": 193
          	}, {
          		"source": 174,
          		"target": 193
          	}, {
          		"source": 175,
          		"target": 193
          	}, {
          		"source": 176,
          		"target": 193
          	}, {
          		"source": 177,
          		"target": 193
          	}, {
          		"source": 178,
          		"target": 193
          	}, {
          		"source": 179,
          		"target": 193
          	}, {
          		"source": 180,
          		"target": 193
          	}, {
          		"source": 181,
          		"target": 193
          	}, {
          		"source": 182,
          		"target": 193
          	}, {
          		"source": 183,
          		"target": 193
          	}, {
          		"source": 184,
          		"target": 193
          	}, {
          		"source": 185,
          		"target": 193
          	}, {
          		"source": 186,
          		"target": 193
          	}, {
          		"source": 187,
          		"target": 193
          	}, {
          		"source": 188,
          		"target": 193
          	}, {
          		"source": 189,
          		"target": 193
          	}, {
          		"source": 190,
          		"target": 193
          	}, {
          		"source": 191,
          		"target": 193
          	}, {
          		"source": 192,
          		"target": 193
          	}]
          }
        </script>
      </div>
    </div>
    <script src="static/main.js"></script>
    <script src="static/script.js"></script>
    <script src="static/bar.js"></script>
  </body>
</html>
