<!DOCTYPE html>
<html>
  <head>
    <title>DeepVis</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  </head>
  <body>
    <form method="POST" action="/train">
      Training Iterations:<br>
      <input id="iterValueRange" name="iter" type="range" min="0" max="1000" value="500" step="10" oninput="sliderChange('iterValue',this.value);" />
      <input id='iterValue' type="text" value="500" oninput="sliderChange('iterValueRange',this.value)">
    <input type="submit">
    <script src="/static/functions.js"></script>
  </body>
</html>
