* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.link {
    stroke-opacity: .4;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.canvas {
  background-color: #ececec;
}

.sb-left {
  left: 0;
}

.sb-right {
  right: 0;
}
.sidebar {
  position: fixed;
  background-color: #ddd;
  /*background-color: #FFA500;*/
  /*background-color: orangered;*/
  height: 700px;
  width: 200px;
}

.sidebarContainer {
  width: 55%;
  margin: 50px auto;
}

#image {
  margin: auto;
  border: 1px solid;
  width: 100px;
  height: 100px;
}

.image-in {
  width: 100px;
}

#dimension {
  text-align: center;
}

.node-image {
  border-radius: 50%;
}

.circle-node {
  stroke: orangered;
  stroke-width: 1.5px;
}

#weightThreshold {
  width: 110px;
  margin-top: 20px;
}

#thresholdContainer{
  margin-top: 20px;
  font-size: x-small;
}

#title{
  width: 120px;
}

#overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
  display: none; /*dim the background*/
}

#dataset-info {
    width: 700px;
    height: 500px;
    line-height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -325px;
    background-color: #ddd;
    border-radius: 5px;
    text-align: center;
    z-index: 11;
    display: none; /* 1px higher than the overlay layer */
}

form .error {
  color: #ff0000;
  font-size: 10px;
}
