* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.node {
    stroke: #007CFF;
    stroke-width: 1.5px;
}
.link {
    stroke: #999;
    stroke-opacity: .6;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.canvas {
  background-color: #ececec;
}

.sidebar {
  position: fixed;
  background-color: #ddd;
  height: 700px;
  width: 200px;
  right: 0;
}

.sidebarContainer {
  width: 50%;
  margin: 50px auto;
}

.chart {
  padding: 10px;
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

#image {
  margin: auto;
  border: 1px solid;
  width: 100px;
  height: 100px;
}

.image-in {
  width: 100px;
}
